/*
ABiggerWM: A Window Manager That Adds A Few Cool Things
Copyright (C) 2026 ANNONYMUS PERSON

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/
#include "keybind_internal.h"
#include "keybind_wrappers.c"
#include <X11/Xlib.h>
#include <stddef.h>
/* Keybinds */

/* Define The Keybinds Using A Static Const Array Ending In NULL
 * Single Keybind Arguments Go:
 * - Key: A strint (char*) representation of the key
 * - Masks: Modifiers For The Keys, Modifiers Are:
 *   - Mod1Mask: <Alt>
 *   - Mod2Mask: <NumLK>   // Ignored
 *   - Mod3Mask: <ScrlLk>  // Ignored
 *   - Mod4Mask: <Meta>
 *   - Mod5Mask: <Alt GR>
 *
 *   - ControlMask: <CTRL>
 *   - LockMask   : <Caps> // Ignored
 *   - ShiftMask  : <Shift>
 *
 * - Function: A Function To Call When The Keybind Is Pressed
 * */

static keybind keybinds[] = {
	{(char*)&"F1", Mod1Mask, &KAltF1},
	{NULL}
};

static const mouse_event mouse_events[] = {
	{1, Mod1Mask, &KAltMouse1},
	{3, Mod1Mask, &KAltMouse3},
	{(long long)NULL}
};
